<div class="page-header">
	<h2 ng-show="create">New Song</h2>
	<h2 ng-show="edit">
		Edit Song <small>{{song.artist.name}} - {{song.name}}</small>
	</h2>
</div>
<form class="form-horizontal" name="form" novalidate role="form">
	<div class="form-group">
		<label class="col-lg-1 control-label" for="name">Name</label>
		<div class="col-lg-10">
			<input class="form-control" type="text" name="name" placeholder="Name" ng-model="song.name" required as-server-validated />
			<span class="label label-danger" ng-show="form.name.$error.unique">This value has to be unique</span>
			<span class="label label-danger" ng-show="form.name.$error.required">This field is required</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-1 control-label" for="artist">Artist</label>
		<div class="col-lg-10">
			<input class="form-control" type="text" name="artist" placeholder="Artist" ng-model="song.artist" typeahead="artist as artist.name for artist in artists($viewValue)" required as-server-validated />
			<span class="label label-danger" ng-show="form.artist.$error.unique">This value has to be unique</span>
			<span class="label label-danger" ng-show="form.artist.$error.persistent">This value does not exist yet</span>
			<span class="label label-danger" ng-show="form.artist.$error.required">This field is required</span>
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-1 control-label" for="artist">Publisher</label>
		<div class="col-lg-10">
			<input class="form-control" type="text" name="publisher" placeholder="Publisher" ng-model="song.publisher" typeahead="publisher as publisher.name for publisher in publishers($viewValue)" as-server-validated />
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-1 control-label" for="artist">Record Company</label>
		<div class="col-lg-10">
			<input class="form-control" type="text" name="recordCompany" placeholder="Record Company" ng-model="song.recordCompany" typeahead="recordCompany as recordCompany.name for recordCompany in recordCompanies($viewValue)" as-server-validated />
		</div>
	</div>
	<div class="form-group">
		<label class="col-lg-1 control-label" for="discIdentifier">Disc</label>
		<div class="col-lg-10">
			<input class="form-control" type="text" name="discIdentifier" placeholder="Name" ng-model="song.discIdentifier" as-server-validated />
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-1 col-lg-10">
			<button class="btn btn-default" type="button" ng-click="reset()" ng-disabled="unchanged()">Reset</button>
			<button class="btn btn-primary" type="submit" ng-click="save()" ng-disabled="form.$invalid || unchanged()">Save</button>
		</div>
	</div>
</form>
