<h4>{{song.artist.name}} - {{song.name}}</h4>
<tabset> <tab heading="{{chart.name}}" ng-repeat="chart in charts" select="findChartPositions(chart)">
<table class="table table-condensed table-hover table-striped" ng-show="chartPositions.length > 0">
	<thead>
		<tr>
			<th>Position</th>
			<th>Week</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="chartPosition in chartPositions">
			<td width="10%"><span class="badge">{{chartPosition.position}}</span></td>
			<td>{{week(chartPosition.chartState.weekDate)}}</td>
		</tr>
	</tbody>
</table>
</tab> <tab heading="Details">
<div style="padding: 10px">
	<p>
		<b>Name</b> <br /> {{song.name}}
	</p>
	<p>
		<b>Artist</b> <br /> {{song.artist.name}}
	</p>
	<p>
		<b>Publisher</b> <br /> {{song.publisher.name}}
	</p>
	<p>
		<b>Record Company</b> <br /> {{song.recordCompany.name}}
	</p>
	<p>
		<b>Disc</b> <br /> {{song.discIdentifier}}
	</p>
</div>
</tab></tabset>