<div class="page-header">
	<div class="row">
		<div class="col-xs-4">
			<form role="select">
				<div class="input-group">
					<input type="text" class="form-control span3" placeholder="Search..." ng-model="search">
					<div class="input-group-btn">
						<button class="btn btn-primary" type="submit" ng-click="findSongs(search)">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<table class="table table-condensed table-hover table-striped" ng-show="songs.length > 0">
			<thead>
				<tr>
					<th>Artist</th>
					<th>Title</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="song in songs" ui-sref="songs.detail({ identifier: song.identifier })">
					<td>{{song.artist.name}}</td>
					<td>{{song.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<div ui-view autoscroll="false"></div>
	</div>
</div>